.logoBlock {
  margin-left: 120px;
  max-width: 30vw;
  margin-top: 150px;
  margin-bottom: 150px;
}
.title {
  font-size: 48px;
  margin-bottom: 30px;
}
.text {
  font-size: 20px;
  text-align: justify-all;
  margin-bottom: 20px;
}
.version {
  font-size: 18px;
  margin-bottom: 30px;
}