.table {

  th, tr, td {
    text-align: center;
  }
}

.wrap {
  border: 3px solid #212529;
  border-radius: 20px;
}

.buttons {
  margin-right: 20px;
  margin-bottom: 20px;
}

.btnSpan {
  margin-right: 7px;
}

.searchBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableRow {

  &:hover {
    transform: scale(1.01);
    transition: all .4s;
    cursor: pointer;
    background-color: #EAECEF;
  }
  &:active {
    background-color: #0C6EFD;
  }
}