.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnSpan {
  margin-right: 7px;
}

.searchBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {

  margin-right: 20px;
  margin-bottom: 20px;
}
.body {
  min-height: 100vh;
}
